style "taffybar-default" {
  color["background"]  = "#282828"
  color["foreground"]  = "#ebdbb2"
  color["black"]       = "#282828"
  color["darkgrey"]    = "#928374"
  color["darkred"]     = "#cc241d"
  color["red"]         = "#fb4934"
  color["darkgreen"]   = "#98971a"
  color["green"]       = "#b8bb26"
  color["darkyellow"]  = "#d79921"
  color["yellow"]      = "#fabd2f"
  color["darkblue"]    = "#458588"
  color["blue"]        = "#83a598"
  color["brightblue"]  = "#2e9ef4"
  color["darkmagenta"] = "#b16286"
  color["magenta"]     = "#d3869b"
  color["darkcyan"]    = "#689d6a"
  color["cyan"]        = "#8ec07c"
  color["lightgrey"]   = "#a89984"
  color["white"]       = "#ebdbb2"

  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @white
  bg[PRELIGHT] = @black
}

widget "Taffybar*" style "taffybar-default"
gtk-font-name="Open Sans 12"
